{% extends "deskbooking/base.html" %}

{% block title %}Landing Page{% endblock %}

{% block content %}

<div class="columns is-centered">
    <div class="column is-half">
        <h1 class="title has-text-centered">DeskBooker</h1>
        <div class="block">
            <p>
                Keep yourself safe while being productive!
            </p>
            <br/>
            <p>
                DeskBooker helps you manage your desk bookings across multiple days, ensuring you've got a place to sit when you venture out of your home - if and when you do.
            </p>
        </div>
    </div>
</div>

{% endblock %}